<?xml version="1.0"?>
<config>
	<modules>
		<VladimirPopov_WebFormsCG>
			<version>1.0.0</version>
		</VladimirPopov_WebFormsCG>
	</modules>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
			</resources>
		</acl>
		<events>
			<webforms_adminhtml_webforms_edit_tab_settings_prepare_form>
				<observers>
					<webformscg_add_settings>
						<type>singleton</type>
						<class>VladimirPopov_WebFormsCG_Model_Observer</class>
						<method>addSettings</method>
					</webformscg_add_settings>
				</observers>
			</webforms_adminhtml_webforms_edit_tab_settings_prepare_form>		
		</events>
	</adminhtml>
	<global>
		<models>
			<webformscg>
				<class>VladimirPopov_WebFormsCG_Model</class>
			</webformscg>
		</models>
		<events>
			<webforms_result_submit>
				<observers>
					<webformscg_result_submit_observer>
						<type>singleton</type>
						<class>VladimirPopov_WebFormsCG_Model_Observer</class>
						<method>changeCustomerGroup</method>
					</webformscg_result_submit_observer>
				</observers>
			</webforms_result_submit>
		</events>
		<resources>
			<webformscg_setup>
				<setup>
					<module>VladimirPopov_WebFormsCG</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</webformscg_setup>
			<webformscg_write>
				<connection>
					<use>core_write</use>
				</connection>
			</webformscg_write>
			<webformscg_read>
				<connection>
					<use>core_read</use>
				</connection>
			</webformscg_read>
		</resources>
	</global>
</config>